<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Curso Basico de Vue.js | Platzi</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div id="app" :style="{background: '#' + color}">
      <h1 :class="changePercent > 0 ? 'green' : 'red'">{{title}}</h1>
      <img :src="img" :alt="name" />
      <hr>
      <button v-on:click="toggleShowPrices">{{showPrices ? 'Hide prices' : 'Show prices'}}</button>
      <div v-if="showPrices">
        <ul v-for="(price, index) in pricesWithDays" :key="price.day">
          <li
          :class="{orange: price.value === currentPrice, green: price.value > currentPrice, red: price.value < currentPrice}"
          >{{index}} {{price.day}} - {{price.value}}</li>
        </ul>
      </div>

      <hr>
      <div>
        <input type="text" ref="name1">
        <input type="text" ref="symbol1">
        <button v-on:click="handleChangeTitle"></button>
        <hr>
        <h1>{{name1}} {{symbol1}}</h1>
      </div>

      <hr>

      <div>
        <input type="number" v-model="value">
        <span>{{convertValue}}</span>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
